<h1>Weblog</h1>

<p>Welcome,<%= @user.username %>,</p>

<p>
  Please click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
Your email is <%= @user.email %>
