<h1>Password reset</h1>

<p>重置密码请点击下面的链接：</p>

<%= link_to "Reset password",
            edit_password_reset_url(@user.reset_token,
                                    email: @user.email) %>

<p>密码重置请求将在5分钟后失效。</p>

<p>
  如果您没有申请重置密码，请忽视这条消息。
</p>
